nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    //box-shadow: rgba(0, 0, 0, 0.178) 0px 2px 4px 0px inset;
    border-radius: 10px;
    background-color: var.$bgColor;


    ul.menuList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-inline-start: 0;

        li {
            list-style-type: none;
            display: flex;
            flex-direction: column;

            span {
                font-size: 40px;
                color: var.$gray;
            }

            span.navText {
                display: none;
            }

            a.active {
                border-bottom: 4px solid var.$darkGreen;

                span {
                    color: var.$darkGreen;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    nav {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        ul.menuList {
            flex-direction: column;
            margin-block-start: 0;

            li {

                a {
                    display: flex;
                    text-decoration: none;
                    padding: 15px;
                    border-left: 7px solid var.$white;

                    span {
                        font-size: 25px;
                    }

                    span.navText {
                        display: block;
                        font-size: var.$buttonText;
                        font-weight: 500;
                        align-self: self-end;
                        margin-bottom: 2px;
                        margin-left: 7px;
                    }
                }

                a.active {
                    background-color: var.$neutralLightGreen;
                    border-left: 7px solid var.$darkGreen;
                    border-bottom: none;
                }
            }
        }
    }
}