$darkGreen: #0A3B2C;
$viridianGreen: #5A9378;
$transparentLightGreen: #0a3b2c79;

$black: #161414;
$gray: #a5a5a5;
$white: #FBF9FA;
$bgColor: $white;
$textColor: $black;

$headingOne: 32px;
$headingTwo: 24px;
$headingThree: 20px;
$headingFour: 18px;
$bodytext: 15px;
$bodytextSmall: 12px;
$buttonText: 16px;
$fontFamily: 'Inter', sans-serif;