$darkGreen: #0A3B2C;
$viridianGreen: #5A9378;
$transparentLightGreen: #0a3b2c41;

$black: #161414;
$gray: #BFC0C0;
$white: #FBF9FA;
$bgColor: $white;
$textColor: $black;
$fontFamily: 'Inter', sans-serif;