$darkGreen: #0A3B2C;
$viridianGreen: #5A9378;
$transparentLightGreen: #0a3b2c79;
$neutralLightGreen: #CAD8D1;
$darkRed: #ad1111;

$black: #181818;
$gray: #cacaca;
$lightGray: #bfc0c086;
$white: #FBF9FA;
$bgColor: $white;
$bgColorApp: #D2D2D2;
$textColor: $black;

$headingOne: 30px;
$headingTwo: 24px;
$headingThree: 20px;
$headingFour: 18px;
$bodytext: 15px;
$bodytextSmall: 13px;
$buttonText: 16px;
$fontFamily: 'Inter', sans-serif;