@use './utils/variables' as var;
@import './utils/normalize';
@import './components/startpage/startpage';
@import './components/login/loginpage';
@import './components/menu/mobileMenu';

* {
  font-family: var.$fontFamily;
}

h1 {
  margin-block-start: 0;
  font-size: var.$headingOne;
  font-weight: 600;
}

body {
  background-color: var.$bgColor;
  color: var.$textColor;
}

button {
  font-size: var.$buttonText;
  font-weight: 500;
  color: var.$white;
  width: 9.5em;
  padding: 17px 25px 17px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button.primaryButton {
  background-color: var.$darkGreen;
}

button.secondaryButton {
  background-color: var.$gray;
  color: var.$black;
}