header {
    background-color: var.$darkGreen;
    height: 5em;

    svg {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;

        span {
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
            color: var.$white;
            margin-left: 5px;
        }
    }
}

main.start {
    min-height: 80vh;

    section {
        .startpageWrapper {
            background-image: url('/startpage-mobile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
        }

        .startpageContainer {
            width: 85%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .highlightContainer {
                margin-top: 1em;

                .highlight {
                    margin-bottom: 2em;

                    .highlightFlex {
                        display: flex;
                        flex-direction: row;

                        span.startIcon {
                            color: var.$darkGreen;
                            font-size: 30px;
                            align-self: center;
                        }

                        h2 {
                            font-weight: 600;
                            margin-left: 5px;
                            margin-block-end: 0;
                            margin-block-start: 0;
                        }
                    }

                    p {
                        font-size: 16px;
                        color: #4d4d4d;
                    }
                }
            }

            h1.startpageHeading {
                font-size: var.$headingOne;
                text-align: left;
                margin-block-start: 0.67em;
            }

            button {
                margin-top: 3em;
                margin-bottom: 3em;
                align-self: center;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: var.$darkGreen;

    span {
        color: var.$white;
        font-size: var.$bodytextSmall;
    }
}

@media screen and (min-width: 710px) {
    main.start {
        section {
            .startpageWrapper {
                background-image: url('/startpage-desktop.jpg');
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main.start {
        section {
            .startpageContainer {
                width: 75%;
            }
        }
    }
}