main.app {
    background-color: var.$bgColorApp;
    height: 90vh;
    overflow-y: scroll;

    section {
        display: flex;
        justify-content: center;

        .container {
            display: inline-block;
            width: 95%;
            margin-top: 1em;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background-color: var.$bgColor;
        }
    }
}

@media screen and (min-width: 992px) {
    #root {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "menu main main main"
            "menu main main main"
            "menu main main main"
        ;

        main.app {
            overflow-y: unset;
            max-width: unset;
            min-height: 100vh;
            margin: 0;
        }
    }
}