:root {
    .fc-header-toolbar.fc-toolbar {
        flex-direction: column;

        .fc-toolbar-chunk {
            margin-top: 1rem;

            h2 {
                font-size: var.$headingTwo;
            }

            button {
                width: 6em;
            }

            button.fc-prev-button,
            button.fc-next-button {
                background-color: var.$darkGreen;
                border-color: #325d50;
            }

            .fc-button-group {}
        }
    }
}

.upcomingContainer {
    width: 95%;

    .upcomingRideContainer {
        background-color: var.$white;
        padding: 1rem;
        margin-top: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 0px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 10px;

        h3 {
            font-weight: 500;

            span {
                font-weight: 400;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    :root {
        .fc-header-toolbar.fc-toolbar {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}